#nav-bar{
    background-color: #1f4d7a;  
}

#navbarSupportedContent a{
    color: #fff;
}
.nav-link{
    margin-right: 1rem;
}
body{
    background-color: #373737;
}
#pomodoro-timer{
    margin-top: 2rem;
    
}
.pomodoro-setup{
    list-style: none;
    float: left;
    position: fixed;
}

.pomodoro-card{
    background-color:green;
}
.timer h1{
    display: inline;
    color: #fff;
    font-weight: lighter;
    
}
.hrdivider {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    
  }
  
  
  .hrdivider span {
    position: absolute;
    top: -11px;
    background: #373737;
    padding: 0 20px;
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
    margin-left: -4rem;
  }
  .form-control{
      border-color: #fff;
  }
  